<!DOCTYPE html>
<html lang="ja" xmins:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type"
	content="text/html; "charset="UTF-8" />
	<style th:fragment="frag_header_style">
	header{background-color:aqua; height:50px;}
	.header-logo{ font-size:30px; font-weght:bold; color:black; float: left;}
	.header-search{ font-size:30px; font-weght:bold; color:green; float:right; padding-right:20px;}
	</style>
	<style>
	body { font-size:13pt; color:gray; margin:5px 25px; }
	</style>
<title>part page</title>
</head>
<body>
	<header th:fragment="frag_header">
		<div class="header-logo"><a href="/">ToDoリスト</a></div>
		<div class="header-search"><a href="/search">検索</a></div>
	</header>
	
	<p><a th:href="@{/search}">検索</a></p>
	<p class="msg" th:utext="${msg}">please wait...</p>
	<p th:text="${#dates.format(new java.util.Date(),'MMM/dd HH:mm')}"></p>
	<form method="post" action="/">
		Todo名<input type="text" name="text1" th:value="${value}" />
		期限<input type="text" name="text2" th:value="${value}" />
		<input type="submit" value="ToDoの追加" />
	</form>
</body>
</html>